.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* justify-content: center; */
  background-image: url('./images/resort.jpg');
  /* background-image: linear-gradient(to bottom right, blue, yellow); */
  height: 100vh;
}


.header-box {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  width: 60rem;
  height: 6rem;
  background-color: blue;
  border: 2px solid orange;
}

.header {
  font-family: 'Bonbon', sans-serif;
  font-size: 5rem;
  color: orange;
}

.weather {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.weather-item {
  font-size: 2rem;
  margin: 1rem 0;
  color: black;
}

.weather-icon {
  max-width: 50px;
}

.sun-icon {
  width: 24px;
  height: 24px;
  margin: 0 1rem;
}